// flex 布局
@mixin flex($justifyContent, $alignItem, $direction) {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

  justify-content: $justifyContent;
  -webkit-justify-content: $justifyContent;
  -ms-flex-pack: $justifyContent;
  -webkit-box-pack: $justifyContent;

  align-items: $alignItem;
  -webkit-align-items: $alignItem;
  -ms-flex-align: $alignItem;
  -webkit-box-align: $alignItem;

  flex-direction: $direction;
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
}
